<div id="forgot-password" fxLayout="column">

    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="forgot-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/logo.svg">
            </div>

            <div class="title">{{ 'PAGES.AUTH.RECOVERPASSWORD' | translate }}</div>

            <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'PAGES.AUTH.EMAIL' | translate }}</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        {{ 'PAGES.AUTH.EMPTYEMAIL' | translate }}
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                        {{ 'PAGES.AUTH.INVALIDEMAIL' | translate }}
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button teal-300"
                        aria-label="SEND RESET LINK" [disabled]="forgotPasswordForm.invalid" (click)="forgotPassword()">
                    {{ 'PAGES.AUTH.SENDRESETLINK' | translate }}
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link link-color" [routerLink]="'/auth/login'">{{ 'PAGES.AUTH.BACKTOLOGIN' | translate }}</a>
            </div>

        </div>

    </div>

</div>
