<div class="m-24">
  <form name="carGroupFrom" [formGroup]="carGroupFrom">
    <div *ngIf="!isEdit" class="h2 my-24">{{ 'PAGES.APPS.CARGROUPS.ADDNEWGROUP' | translate }}</div>
    <div *ngIf="isEdit" class="h2 my-24">{{ 'PAGES.APPS.CARGROUPS.EDITGROUP' | translate }}</div>

    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
      <mat-label>{{ 'PAGES.APPS.CARGROUPS.NAME' | translate }}</mat-label> 
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100-p">
      <mat-label>{{'PAGES.APPS.CARGROUPS.ADDSUBGROUP' | translate}}</mat-label> 
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let subgroup of selectedSubgroups" [selectable]="true" [removable]="true" (removed)="remove(subgroup)">
          {{subgroup.name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
            
        <input #carInput [matAutocomplete]="auto"
          [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true" required>
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let subgroup of subgroups" [value]="subgroup">
            {{subgroup.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button *ngIf="!isEdit" mat-raised-button class="teal-300 mt-24 mt-md-0" [disabled]="!carGroupFrom.controls['name'].value ||
    selectedSubgroups.length == 0" (click)="addCarGroup()">
        <span>{{ 'COMMONACTIONS.SAVE' | translate }}</span>
      </button>
      <button *ngIf="isEdit" mat-raised-button class="teal-300 mt-24 mt-md-0" [disabled]="!carGroupFrom.controls['name'].value ||
      !carGroupFrom.controls['id'].value || selectedSubgroups.length == 0" (click)="updateCarGroup()">
        <span>{{ 'COMMONACTIONS.SAVE' | translate }}</span>
      </button>
  </form>
</div>
